<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dong.mappers.BuyMapper">
<insert id="insertBuy" parameterType="kr.co.dong.DTO.BuyDTO">
    INSERT INTO buy (buy_no, user_id, buy_date, buy_amount, shop_no)
    VALUES (#{buyNo}, #{userId}, #{buyDate}, #{buyAmount}, #{shopNo})
</insert>

</mapper>
