<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="kr.co.dong.qnacomentmapper">
	<select id="qactlist" resultType="kr.co.dong.DTO.QactDTO" parameterType="int">
		select qact_no,qact_title,qact_content,qact_todaydate,qa_no from qna_comments
		where qa_no=#{qa_no}
	</select>
	<select id="qactdetail">
		select qact_no,qact_title,qact_content,qact_todaydate from qna_comments
		where qact_no=#{qact_no}
	</select>
	<insert id="qactinsert">
		insert into qna_comments (qact_no,qact_title,qact_content,qact_todaydate,qa_no)
		values (#{qact_no},#{qact_title},#{qact_content},now(),#{qa_no}) 
	</insert>
	<update id="qactupdate" parameterType="kr.co.dong.DTO.QactDTO">
		update qna_comments set qact_content=#{qact_content}
		where qact_no=#{qact_no}
	</update>
	<delete id="qactdelete">
		delete from qna_comments
		where qact_no=#{qact_no}
	</delete>
	</mapper>